/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}
#landing-page .paragraph-landing {
  font-size: 24px;
  line-height: 1.5;
}
#landing-page .btn-primary {
  width: 150px; /* or you can set a specific width like 200px */
  max-width: 100px; /* maximum width the button can expand to */
  background-color: darkgreen;
  border-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
#landing-page .btn-primary:hover {
  background-color: dimgray;
}
.button-column {
  text-align: center;
}
