.food-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 15px;
}

/*change size of food card on hover*/
.food-card:hover {
    transform: scale(1.02);
}

.h1-food-card {
    font-size: 50px;
    line-height: 1.5;
    color: #045604;
    text-shadow: 1px 1px 4px rgb(103, 101, 101);
    text-align: center;
}